layout_generation_mine.sh
requirements_bak.txt
src/divergent_caption_ensemble_bak.py
prompt/prompt_layout_v3.yaml
prompt/prompt_layout.yaml
prompt/prompt_layout_zscir.yaml
mmaig_tool_layout.py
proxy_generation_mine.sh
weights
visual_layout
generate_proxy_instdiff.py
__pycache__/
*.py[cod]
*$py.class
*.egg-info
*.github
src/divergent*
feature/debiased/*.pt
feature/debiased_
feature
data
feature/aug_feature
*mine.sh
circo_info.json
output
predictor

# large artifacts
feature/circo_test_G.npz
repo.bundle
*.npz
*.bundle

